.entete {
    height: 80px;
    background-color: grey;
    margin-bottom: 8px;

}

.right {
    text-align:right;
}
.centre {
    text-align:center;

}


.red {
    /*height: 40px;*/
    background-color: red;
}