<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/stockage/contenu/logoseul.ico">
    <link rel="stylesheet" href="/stockage/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stockage/css/style.css">

    <script src="/stockage/jquery-3.6.0.min.js"></script>
    <script src="/stockage/spin/src/bootstrap-input-spinner.js"></script>
    <title>Visionia : contrôle de votre caméra industrielle</title>


</head>




<body>
<div class="container-fluid entete">
   <div class="row">
        <div class="col-6" >
            <h4>&nbsp;</h4>
            <h1>Menu Principal</h1>
        </div>
        <div class="col-6 right">
            <a href="/">
                <img src="/stockage/contenu/logo.png" alt="Logo Menu" height="80">
            </a>
        </div>
   </div>
</div>

<div class="container-fluid">
    <h2>...</h2>
    <a href="/video">
        <button type="submit" class="btn btn-primary btn-lg">Paramétrage</button>
    </a>
    <a href="/acquisition">
        <button type="submit" class="btn btn-primary btn-lg">Aquisition d'images</button>
    </a>
    <a href="/memoire">
        <button type="submit" class="btn btn-primary btn-lg">Programmes</button>
    </a>
</div>