<!DOCTYPE html>
<html>
    <head>
        <title>Visionia : contrôle de votre caméra industrielle</title>
        <link rel="icon" href="/stockage/contenu/logoseul.ico">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stockage/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stockage/css/style.css">

        <script src="/stockage/jquery-3.6.0.min.js"></script>
        <script src="/stockage/spin/src/bootstrap-input-spinner.js"></script>
    </head>

    <body>

        <div class="container-fluid entete">
            <div class="row">

                <div class="col-6">
                    <h4>&nbsp;</h4>
                    <h1>Paramètres</h1>
                </div>
                <div class="col-6 right">
                    <a href="/">
                        <img src="/stockage/contenu/logo.png" alt="Logo Menu" height="80">
                    </a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7 centre">
                    <div id="media">
                        <video id="video" autoplay="true" playsinline="true"></video>
                    </div>
                </div>

                <div class="col-md-5">
                    <a href="/video">
                    <button type="button" class="btn btn-secondary btn-lg">Go vidéo</button>
                    </a>
                </div>

            </div>
            <p>

            <input class="buttons-only" value="5" min="1" max="10" style="display: none;">
            </p>


        </div>



    </body>

<script>
    $("input[type='number']").inputSpinner()
    $(".buttons-only").inputSpinner({buttonsOnly: true})
</script>

</html>
