<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stockage/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stockage/css/style.css">
    <title>WebRTC webcam</title>
    <style>
    button {
        padding: 11px 22px;
        margin-bottom: 4px;
    }

    video {
        max-width: 100%;
        max-height : 95%;
    }




    </style>
</head>




<body>
<div class="container-fluid entete">
    <div class="row">
        <div classe="col-md-4">
            <h1>Paramètres</h1>
        </div>
        <div classe="col-md-4">
            <a href="/" style="text-align:right">
                <img src="/stockage/contenu/logo.png" alt="Logo Menu" height="80">
            </a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 centre">
            <div id="media">
                <video id="video" autoplay="true" playsinline="true"></video>
            </div>
        </div>

        <div class="col-md-5 centre">

            <h2 id="Texp" style="display: none">Temps d'exposition</h2>
            <div class="row">

                <div class="col-4 centre">

                    <button id="start" onclick="start()">Start</button>

                    <button id="stop" style="display: none" onclick="stop()">Stop</button>



                    <input id="number" type="number" max="100" min="15" step="5"  value="{{ expo }}">
                </div>
                <div class="col-4 centre">

                    <div>
                        <h4 id="exp" style="display: none">{{ expo }} ms</h4>
                    </div>
                    <button id="apply" style="display: none" onclick="Apply()">Appliquer</button>

                </div>

            </div>

            <h2 id="Tlum" style="display: none">Luminosité</h2>
            <div class="row">

                <div class="col-4 centre">
                    <div>
                        <a href = "/plusdix">
                            <button id="5" style="display: none" onclick="Moinsdeux()"><</button>
                        </a>
                    </div>
                    <div>
                        <button id="6"  style="display: none" onclick="Moinsdix()"><<</button>
                    </div>
                </div>
                <div class="col-4 centre">

                    <div>
                        <h4 id="lum" style="display: none">{{ lum }} %</h4>
                    </div>
                    <button id="lapply" style="display: none" onclick="Apply()">Appliquer</button>

                </div>
                <div class="col-4 centre">
                    <div>
                        <button id="7" style="display: none" onclick="Plusdeux()">></button>
                    </div>
                    <div>
                        <button id="8" style="display: none" onclick="Plusdix()">>></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="option">
                <input id="use-stun" type="checkbox"/>
                <label for="use-stun">Use STUN server</label>
            </div>
        </div>

    </div>
</div>



<script src="client.js"></script>



</body>
</html>
