<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tuto boot</title>

    <!-- css -->
    <link rel="stylesheet" href="mincss">
    <link rel="stylesheet" href="style">
</head>
<body>
    <div class="container-fluid red">
        <p>ogvbioerjhklbvljkdlbvfdlnlbnlsdnlb nlnsdlfnblnldsfnbnlfnblnlfnkn lknlnlnlnlnxfblnlfblnkcvnlxnlnlxcvnlnlxnlnxlnlnxclnlxnlnlxcnlncxln lxcnlnxclnlxcvnlkxcvnlnxlnlxcvnlx cvknxcvlnxcvlnkxcvcnlsnb nlkwdnbkljnlkdnbfn:wdjbnmlwdnlmbnm ldwnlbnldkwnbmlwdklbnmlwndlmbnlwd</p>
    </div>
    

</body>
</html>