<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tuto boot</title>

    <!-- css -->
    <link rel="stylesheet" href="/stockage/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stockage/css/style.css">
</head>
<body>
    <div class="container-fluid red"; style="margin-bottom: 5px">
        <img style="max-width: 250px;" src="/stockage/contenu/logo.png"/>
    </div>
    <a href="/">
        <button type="button" class="btn btn-primary" style="margin-top: 5px; margin-bottom: 5px; height: 500px;width: 800px; </button>">
            <span class="glyphicon glyphicon-off"; aria-hidden="true"></span> Ce bouton ramène à la première page
        </button>
    </a>
    
    

</body>
</html>