<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/stockage/contenu/logoseul.ico">
    <link rel="stylesheet" href="/stockage/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stockage/css/style.css">

    <script src="/stockage/jquery-3.6.0.min.js"></script>
    <script src="/stockage/spin/src/bootstrap-input-spinner.js"></script>
    <title>Visionia : contrôle de votre caméra industrielle</title>


</head>




<body>
<div class="container-fluid entete">
   <div class="row">
        <div class="col-3">
            <a href="/">
                <img src="/stockage/contenu/logo.png" alt="Logo Menu" height="80">
            </a>
        </div>
       <div class="col-9" >
            <h1 align="right">Mémoire</h1>
        </div>
   </div>
</div>



        <div>
            <label for="say">Quelle salutation voulez-vous dire ?</label>
            <input name="say" id="say" value="Salut">
        </div>




</body>
</html>