<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stockage/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stockage/css/style.css">
    <title>bootstrap-input-spinner test</title>

</head>
<body>
<div id="testContainer"></div>
$(element).inputSpinner(config);





<script src="stockage/spin/node_modules/jquery/dist/jquery.min.js"></script>
<script src="stockage/spin/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="stockage/spin/src/bootstrap-input-spinner.js"></script>
<script type="module">
    import {teevi} from "../node_modules/src/teevi.js"
    import "./Test.js"
    teevi.run()
</script>
<h1>Par l</h1>


</body>
</html>
