.entete {
    height: 80px;
    background-color: grey;
    margin-bottom: 8px;
}
.couleurentete {
    color: white;
}

.right {
    text-align:right;
}
.centre {
    text-align:center;

}
video {
        max-width: 100%;
        max-height : 95%;
    }

.red {
    /*height: 40px;*/
    background-color: red;
}